/* banner */
.box-92819 {
    background: rgba(0, 0, 0, 0.349);
    border-radius: 5px;
}

.box-92819 h1, .box-92819 p {
    color: rgb(255, 255, 255) !important;
}

/* works */
.media-02819 {
    margin-bottom: 30px;
}

.media-02819 .img-link {
    margin-bottom: 10px;
}
